<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/3d_dress_3.css" />
    <title>Document</title>
  </head>
  
  <body>
    <div class="scene"></div>
    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/OrbitControls.js"></script>
    <script src="../static/js/GLTFLoader.js"></script>
    <script src="../static/js/3d_dress_3.js"></script>
  </body>
</html>
